#id_old_password:focus {
    border-color: red !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25) !important;
}

#id_new_password1:focus {
    border-color: red !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25) !important;
}

#id_new_password2:focus {
    border-color: red !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25) !important;
}