{% extends "general/layout.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block head_extra %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
{% endblock %}

{% block head_title %}Iniciar sesión | Bocatto{% endblock %}

{% block page_content %}
<div class="container my-5">
    {% include '_includes/_messages.html' %}

    <div class="row justify-content-center pt-5 pb-5">
        <div class="col-12 col-md-6 col-lg-5">
            <div class="card shadow-lg rounded-4 border-0">
                <div class="card-header bg-danger text-white text-center">
                    <h2 class="mb-0">Iniciar sesión</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.username|as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            {{ form.password|as_crispy_field }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-danger">Ingresar</button>
                        </div>
                    </form>
                    <p class="text-center mt-3 mb-0">
                        ¿No tienes cuenta? <a href="{% url 'register' %}" id="isesion">Regístrate aquí</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
